NEO4J_URI=neo4j://127.0.0.1:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=password123
INDEX_NAME=vector
TIMEOUT=5000

CHUNKER_TYPE=recursive
CHUNKER_CHUNK_SIZE=1000
CHUNKER_CHUNK_OVERLAP=100

EMBEDDINGS_TYPE=ollama
EMBEDDINGS_MODEL_NAME=mxbai-embed-large
EMBEDDINGS_API_KEY=none
EMBEDDINGS_DEPLOYMENT=none
EMBEDDINGS_ENDPOINT=none

# RE_MODEL_TYPE=ollama
# RE_MODEL_NAME=llama3.2:1b
# RE_MODEL_TYPE=groq
# RE_MODEL_NAME=llama-3.1-8b-instant
# RE_API_KEY=<your_groq_api_key>
RE_MODEL_TYPE=groq
RE_MODEL_NAME=llama-3.3-70b-versatile
RE_API_KEY=<your_groq_api_key>
RE_MODEL_TEMPERATURE=0.0
RE_MODEL_DEPLOYMENT=none
RE_MODEL_ENDPOINT=none

QA_MODEL_TYPE=ollama
QA_MODEL_NAME=llama3.2
QA_MODEL_TEMPERATURE=0.0
QA_API_KEY=none
QA_MODEL_DEPLOYMENT=none
QA_MODEL_ENDPOINT=none